.advertiseSummerContainer {
    width: 95%;
    margin: 70px auto;
    max-width: 1290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advertiseSummerContainer img {
    max-height: 430px;

}