.headerContainerTop {
    width: 100%;
    background-color: var(--first-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.headerContainerBottom {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.headerLogo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo img {
    max-width: 150px;
}

.headerMenu {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMenu div {
    margin: 0 15px;
    text-align: center;
}

.headerMenu a {
    text-decoration: none;
    color: var(--first-color);
}

.headerMenuPages {
    position: relative;
}

.headerMenuShop {
    position: relative;
}

.dropDownMenuPages {
    position: absolute;
    cursor: pointer;
    background-color: white;
    min-width: 220px;
    min-height: 83px;
    font-size: 0.9rem;
    color: var(--third-color);
    top: 10px;
    left: -15px;
    z-index: 6;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    animation: dropdown 0.8s forwards;
}

@keyframes dropdown {
    0% {
        opacity: 0;
    }

    100% {
        transform: translate(0, 10px);
        opacity: 1;
    }
}

.dropDownMenuPages a {
    border-bottom: 1px solid var(--sixth-color);
    color: var(--sixth-color);
    min-width: 220px;
    border-bottom-width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 5px 10px;
    transition: 0.3s;
}

.dropDownMenuPages a:hover {
    color: white;
    background-color: var(--first-color);
}

.dropDownMenuShop {
    position: absolute;
    cursor: pointer;
    background-color: white;
    min-width: 220px;
    min-height: 83px;
    font-size: 0.9rem;
    color: var(--third-color);
    top: 10px;
    left: -15px;
    z-index: 6;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    animation: dropdown 0.8s forwards;
}

.dropDownMenuShop a {
    border-bottom: 1px solid var(--sixth-color);
    color: var(--sixth-color);
    min-width: 220px;
    border-bottom-width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 5px 10px;
    transition: 0.3s;
}

.dropDownMenuShop a:hover {
    color: white;
    background-color: var(--first-color);
}

.headerUserMenuIcon {
    display: none;
}

.headerUserSettings {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerUserSettings svg {
    margin: 0 15px;
    cursor: pointer;
}

.headerUserSettings div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerUserSettings div p {
    position: absolute;
    font-size: 0.6rem;
    background-color: var(--first-color);
    color: white;
    top: -5px;
    left: 33px;
    padding: 2px 4px;
    border-radius: 25%;
}

.headerDarkRightMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1000;
}

.sideBarMenu {
    z-index: 1001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    transform: translateX(200px);
    background-color: white;
    animation: rightSideBar 1s forwards;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.9);
}

.sideBarMenu div {
    margin: 10px 0 0 10px;
    cursor: pointer;
    border: 1px solid var(--sixth-color);
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    width: 30px;
    display: flex;
    justify-content: center;
}

.sideBarMenu div a {
    text-decoration: none;
    color: var(--first-color);
}

@keyframes rightSideBar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@media (max-width: 1240px) {
    .headerContainerBottom {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .headerLogo {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .headerMenu {
        display: none;
    }

    .headerUserMenuIcon {
        display: flex;
        width: 45px;
        transition: 0.5s;
        border: 1px solid var(--sixth-color);
        border-radius: 2px;
    }

    .headerUserMenuIcon:hover {
        background-color: var(--seventh-color);
        width: 45px;
    }

    .headerUserSettings {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .headerDarkLeft {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0, 0.3);
        z-index: 1000;
        animation: darkLeft 1s forwards;
    }

    .headerDarkLeftMenu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 350px;
        transform: translateX(-350px);
        background-color: white;
        z-index: 1001;
        animation: 1s darkLeftMenu 1s forwards;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.9);

    }

    .headerDarkLeftMenu a:hover {
        text-decoration: underline;
    }


    .headerDarkLeftMenuClose {
        align-self: flex-end;
        cursor: pointer;
        margin-bottom: 30px;
        border: 1px solid var(--sixth-color);
        border-radius: 3px;
        padding: 10px;
        margin: 10px 10px 0 0;
        color: var(--first-color);
        text-decoration: none;
    }

    .headerDarkLeftMenuOpt {
        cursor: pointer;

        text-decoration: none;
        color: var(--first-color);
        padding: 0 0 10px 10px;
    }

    @keyframes darkLeft {
        0% {
            opacity: 0;
            right: 100%;
        }

        100% {
            opacity: 1;
            right: 0%;
        }
    }

    @keyframes darkLeftMenu {
        0% {
            opacity: 0;
            transform: translateX(-350px);

        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .headerDarkLeftMenuDropDown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 0 0 10px 10px;
    }

    .headerDarkLeftMenuDropDown a {
        text-decoration: none;
        color: var(--first-color);
    }

    .headerDarkLeftMenuDropDown svg {
        margin-right: 20px;
    }

    .menuPagesDropDown {
        display: flex;
        flex-direction: column;

    }

    .menuPagesDropDown a {
        text-decoration: none;
        color: var(--first-color);
        cursor: pointer;
        border-bottom: 1px solid var(--sixth-color);
        border-bottom-width: 100%;
        padding: 0 0 10px 10px;
        transition: 0.3s;
    }

    .menuPagesDropDown a:hover {
        color: white;
        background-color: var(--first-color);
    }

}