.informationBarBg {
    width: 100%;
    background-color: var(--first-color);
    margin-bottom: 40px;
}

.informationBarContainer {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    height: 100px;
}

.informationBarContainer p {
    font-size: 1.1rem;
    font-weight: 600;
}

.informationBarDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 240px;
    min-width: 210px;
    padding: 0 10px;
    min-height: 70px;
    user-select: none;
}

.informationBarDescription svg {
    margin-right: 10px;
    transition: 0.8s;
}

.informationBarDescription svg:hover {
    color: var(--second-color);
}

.informationBarDescription:nth-child(1),
.informationBarDescription:nth-child(2),
.informationBarDescription:nth-child(3) {
    border-style: none solid none none;
    border-width: 1px;
    border-color: white;
    margin: 0 10px;
}