* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
}

img {
  display: block;
}

:root {
  --first-color: #152e35;
  --second-color: #c1f8f8;
  --third-color: #333333;
  --forth-color: #f9f9f9;
  --fith-color: #ace4e3;
}