* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
}

img {
  display: block;
}

:root {
  --primary-color: #152e35;
  --button-primary-color: #c1f8f8;
  --button-secundary-color: #333333;
}